section#board{
  @include user-select(none);
  position:fixed;
  top:0px;
  left:0px;
  z-index:3;
  width:100%;
  height:100%;
  display:none;
  overflow:hidden;

  .posts{
    @include clearfix;
    @include user-select(none);

    width:100%;
    height:100%;
    cursor:pointer;

    .screen.normal{
      @include clearfix;
      @include user-select(none);

      float:left;
      width:100%;
      height:100%;
      overflow:hidden;

      @import "board/post-normal";
    }

    .screen.tinysort{
      @include clearfix;
      @include user-select(none);

      float:left;
      width:100%;
      height:100%;
      overflow:auto;

      @import "board/post-tinysort";
    }
  }
}