
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-condlight-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-condlight-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-condlight-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/opensans/opensans-condlightitalic-webfont.eot');
    src: url('../fonts/opensans/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-condlightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-condlightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-condlightitalic-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans/opensans-condbold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/opensans-condbold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}