@font-face {
    font-family: 'WhitehallRegular';
    src: url('../fonts/whitehall-webfont.eot');
    src: url('../fonts/whitehall-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whitehall-webfont.woff') format('woff'),
         url('../fonts/whitehall-webfont.ttf') format('truetype'),
         url('../fonts/whitehall-webfont.svg#WhitehallRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
