@mixin x1x2($position, $x1, $x2){
  // TODO REPLACE $x2 for real retina integration
  // ACTUALLY EVERYWHERE THE HIGHRES IMAGE IST LOADED WITH NON RETINA DIMENSIONS
  background-image:url($x1);
  background-position:$position;
  background-size:image-width($x1) image-height($x1);
  background-repeat:no-repeat;

  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
    background-image:url($x2);
  }
}
