input[type="text"], input[type="password"]{
  @include rgba-background(rgba(34, 34, 34, 0.9));
  @include border-radius(4px);

  border:solid 1px $white;
  color:$lightgrey;
  font-family:$font-light;

   &:focus{
     color:$white;
   }
}

input[type="password"]{
  font-family:Verdana;
}
