@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
//
@import "../../mixins/paddingbox";
@import "../../mixins/devices";
@import "../../mixins/user-select";
@import "../../declarations/dimensions";
@import "../../declarations/colors";
@import "../../declarations/fonts";


#post-window {
  margin-top: $def_margin_unit;

  h2 {
    margin-bottom: $def_margin_unit / 2;
    color: $whiteFull;
  }

  @include desktopClient {
    padding: 70px 0 0 0;
  }

  textarea {
    @include paddingbox(616px, 320px, $def_margin_unit / 2, $def_margin_unit / 2, $def_margin_unit * 2, $def_margin_unit / 2);
    @include rgba-background($yellow);
    //@include box-shadow(1px 1px 8px $black inset);
    @include border-radius(4px);
    @include transition-property("background-color");
    @include transition-duration("0.2s");

    margin: $def_margin_unit / 2 0 0 0;
    resize: none;

    border: solid 2px $black;
    font-family: $font-regular;
    font-size: $large;

    // DEVICE
    @include iPodWebappPortrait {
      @include paddingbox(308px, 160px, $def_margin_unit / 2, $def_margin_unit / 2, $def_margin_unit * 2, $def_margin_unit / 2);

      font-size: $normal;
    }

    @include iPodSafariPortrait {
      @include paddingbox(308px, 160px, $def_margin_unit / 2, $def_margin_unit / 2, $def_margin_unit * 2, $def_margin_unit / 2);

      font-size: $normal;
    }

    @include iPodSafariLandscapeFullscrren {
      @include paddingbox(470px, 160px, $def_margin_unit / 2, $def_margin_unit / 2, $def_margin_unit * 2, $def_margin_unit / 2);

      margin-top: $def_margin_unit;
      font-size: $normal;
    }

    @include iPodWebappLandscape {
      @include paddingbox(470px, 160px, $def_margin_unit / 2, $def_margin_unit / 2, $def_margin_unit * 2, $def_margin_unit / 2);
      font-size: $normal;
    }

    @include iPodSafariLandscape {
      font-size: $normal;
    }

  }

  textarea.blue {
    @include rgba-background($blue_75);
  }

  textarea.turkis {
    @include rgba-background($turkis_75);
  }

  textarea.green {
    @include rgba-background($green_75);
  }

  textarea.yellow {
    @include rgba-background($yellow_75);
  }

  textarea.orange {
    @include rgba-background($orange_75);
  }

  textarea.red {
    @include rgba-background($red_75);
  }

  textarea.pink {
    @include rgba-background($pink_75);
  }

  textarea.grey {
    @include rgba-background($grey_75);
  }

  textarea.white {
    @include rgba-background($white_75);
  }
}