$backgroundImage:'http://www.riimind.me/img/wallpapers/wood.png';
$black:#555353;
$lightgrey:#93949a;
$white:#fff;
$background-color:#242a31;
$ui-background:rgba(0, 0, 0, 0.9);
$ui-shadow:0px -2px 4px -1px #000;

$error:#d90970;
$notice:#92d909;
$warning:#d9d209;


// Posts background colors
$blue:rgba(5, 171, 224, 1);
$turkis:rgba(5, 225, 207, 1);
$green:rgba(51, 251, 118, 1);
$yellow:rgba(226, 252, 120, 1);
$orange:rgba(252, 215, 120, 1);
$red:rgba(253, 127, 145, 1);
$pink:rgba(253, 145, 194, 1);
$grey:rgba(193, 194, 195, 1);
$white:rgba(255, 255, 255, 1);

$blue_75:rgba(5, 171, 224, 0.75);
$turkis_75:rgba(5, 225, 207, 0.75);
$green_75:rgba(51, 251, 118, 0.75);
$yellow_75:rgba(226, 252, 120, 0.75);
$orange_75:rgba(252, 215, 120, 0.75);
$red_75:rgba(253, 127, 145, 0.75);
$pink_75:rgba(253, 145, 194, 0.75);
$grey_75:rgba(193, 194, 195, 0.75);
$white_75:rgba(255, 255, 255, 0.75);

$blue_50:rgba(5, 171, 224, 0.5);
$turkis_50:rgba(5, 225, 207, 0.5);
$green_50:rgba(51, 251, 118, 0.5);
$yellow_50:rgba(226, 252, 120, 0.5);
$orange_50:rgba(252, 215, 120, 0.5);
$red_50:rgba(253, 127, 145, 0.5);
$pink_50:rgba(253, 145, 194, 0.5);
$grey_50:rgba(193, 194, 195, 0.5);
$white_50:rgba(255, 255, 255, 0.5);

$blue_25:rgba(5, 171, 224, 0.25);
$turkis_25:rgba(5, 225, 207, 0.25);
$green_25:rgba(51, 251, 118, 0.25);
$yellow_25:rgba(226, 252, 120, 0.25);
$orange_25:rgba(252, 215, 120, 0.25);
$red_25:rgba(253, 127, 145, 0.25);
$pink_25:rgba(253, 145, 194, 0.25);
$grey_25:rgba(193, 194, 195, 0.25);
$white_25:rgba(255, 255, 255, 0.25);