@import "../fonts/opensans";

$font-regular: 'OpenSansLight';
$font-light: 'OpenSansLight';
$font-bold: 'OpenSansBold';
$font-lightitalic: 'OpenSansLightItalic';
$font-italic: 'OpenSansLightItalic';
$font-bolditalic: 'OpenSansLightItalic';

$xlarge: 32px;
$large: 26px;
$normal: 18px;
$small: 14px;
$xsmall: 12px;
$xxsmall: 10px;