@import "fonts/whitehall";
$whitehall-regular:'WhitehallRegular';

@import "fonts/sansation";

$font-regular:'SansationRegular';
$font-light:'SansationLight';
$font-bold:'SansationBold';
$font-lightitalic:'SansationLightLightItalic';
$font-italic:'SansationItalic';
$font-bolditalic:'SansationBoldItalic';

$xlarge:32px;
$large:26px;
$normal:18px;
$small:14px;
$xsmall:12px;
$xxsmall:10px;