#post-window{
  margin-top:$def_margin_unit;

  h2{
    margin-bottom:$def_margin_unit / 2;
    color:$white;
  }

  textarea{
    @include paddingbox(616px, 320px, $def_margin_unit / 2 , $def_margin_unit / 2 , $def_margin_unit * 2, $def_margin_unit / 2 );
    @include rgba-background($yellow);
    @include box-shadow(1px 1px 8px $black inset);
    @include border-radius(4px);



    margin:$def_margin_unit / 2 0 0 0;
    resize:none;

    border:solid 2px $black;
    font-family:$font-regular;
    font-size:$large;


    // DEVICE
    @include iPodWebappPortrait{
      @include paddingbox(308px, 160px, $def_margin_unit / 2 , $def_margin_unit / 2 , $def_margin_unit * 2, $def_margin_unit / 2 );

      font-size:$normal;
    }

    @include iPodSafariPortrait{
      @include paddingbox(308px, 160px, $def_margin_unit / 2 , $def_margin_unit / 2 ,$def_margin_unit * 2, $def_margin_unit / 2 );

      font-size:$normal;
    }

    @include iPodSafariLandscapeFullscrren{
     @include paddingbox(470px, 160px, $def_margin_unit / 2 , $def_margin_unit / 2 , $def_margin_unit * 2, $def_margin_unit / 2);

     margin-top:$def_margin_unit;
     font-size:$normal;
    }

    @include iPodWebappLandscape{
      @include paddingbox(470px, 160px, $def_margin_unit / 2 , $def_margin_unit / 2 , $def_margin_unit * 2, $def_margin_unit / 2);
      font-size:$normal;
    }

    @include iPodSafariLandscape{
      font-size:$normal;
    }

  }

  textarea.blue{
    @include rgba-background($blue);
  }

  textarea.turkis{
    @include rgba-background($turkis);
  }

  textarea.green{
    @include rgba-background($green);
  }

  textarea.yellow{
    @include rgba-background($yellow);
  }

  textarea.orange{
    @include rgba-background($orange);
  }

  textarea.red{
    @include rgba-background($red);
  }

  textarea.pink{
    @include rgba-background($pink);
  }

  textarea.grey{
    @include rgba-background($grey);
  }

  textarea.white{
    @include rgba-background($white);
  }
}